body {
  background: #eee;
  margin: 80px auto;
  max-width: 960px;
  font-size: 18px;
  height: auto;
  overflow: auto;
  background: url("/japan_light.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

main {
  background: #fff;
  padding: 30px;
}

h1 {
  padding: 0;
  line-height: 1;
  margin-bottom: 20px;
}

h2,
h3 {
  padding: 30px 0 0;
  line-height: 1;
}

h2,
h3 {
  font-size: inherit;
}

label {
  display: block;
}

h2,
label:first-child h3 {
  padding-top: 0;
}

p {
  margin: 5px 0 3px;
  font-size: 16px;
}

input {
  width: 150px;
}

button {
  margin-top: 20px;
}

.result .two-third {
  text-align: right;
}
