body {
  background: #eee;
  max-width: 1100px;
  height: auto;
  overflow: auto;
}

main {
  background: #fff;
  padding: 20px 20px 0 20px;
}

h1 {
  padding: 0;
  padding-bottom: 10px;
  line-height: 1;
  font-size: 1.5em;
}

@media (min-width: 900px) {
  body {
    margin: 80px auto;
    background: #dec1bd url("/japan.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }

  main {
    background: #fff;
    padding: 30px 30px 0 30px;
  }

  h1 {
    font-size: 2em;
  }
}

h2,
h3 {
  padding: 30px 0 0;
  padding: 0;
  line-height: 1;
}

h2,
h3 {
  font-size: inherit;
}

label {
  margin: 15px 0;
}

h2 {
  padding-top: 0;
}

p {
  margin: 3px 0 0;
  font-size: 14px;
}

.result h2 {
  margin-top: 15px;
}

.result h3 {
  margin-top: 30px;
}

.result .two-third {
  text-align: right;
}

.space {
  align-items: center;
  justify-content: space-between;
}

fieldset {
  white-space: nowrap;
  display: flex;
}

input {
  vertical-align: middle;
  border-radius: 0.2em 0 0 0.2em;
  width: 120px;
}

.unit {
  display: inline-block;
  background: red;
  height: 2.1em;
  padding: 0.3em 0.6em;
  border: 1px solid #ccc;
  border-left: none;
  background-color: #eee;
  border-radius: 0 0.2em 0.2em 0;
  width: 100px;
}
